services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      NODE_ENV: development
      WATCHPACK_POLLING: "true"
      CHOKIDAR_USEPOLLING: "true"
      NEXT_TELEMETRY_DISABLED: "1"
    volumes:
      - ./:/app
      - app_node_modules:/app/node_modules
      - app_next:/app/.next

volumes:
  app_node_modules:
  app_next:
